#masonry-container.transitions-enabled.infinite-scroll.clearfix.centered
  - @contacts.each do |contact|
    %div{class: "box col3", first_name: "l_#{contact.first_name}", last_name: "l_#{contact.last_name}"}
      .row.contact
        .col-md-4.image-contact
          =image_tag(contact.avatar)
        .col-md-8.detail-contact
          %h4= contact.name
          %h5= contact.email
          %p= contact.address
          %p= contact.phone

#no-filtered.transitions-enabled.infinite-scroll.clearfix.centered

 