!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AddressBook
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button(type= "button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            %span.sr-only Toggle navigation
            %span.icon-bar 
            %span.icon-bar  
            %span.icon-bar 
          %a.navbar-brand{href: "#{contacts_path}"} Contacts 
        - if current_user != nil
          .collapse.navbar-collapse 
            %ul.nav.navbar-nav
              %li.active
                = link_to 'New Contact', new_contact_path, remote: true 
              %li
                %a{href: "#"} Debug 
              %form{action: "#{contacts_path}"}(class="navbar-form navbar-left" role="search")
                .form-group
                  %input(type="text" name="query" class="form-control" placeholder="Search") 
                %button(type="submit" class="btn btn-default")Submit 
            %ul.nav.navbar-nav.navbar-right
              %li 
                %a{href: "#{destroy_user_session_path}"}(data-method='delete')
                  Log Out
                  %span.glyphicon.glyphicon-log-out(aria-hidden="true")
         
    
    .container
      = yield
    
      

#contact_form_modal.modal.fade 
  
        
